<%- include('layout/header.ejs') %> 

<!-- Form to edit/update the product details -->
<div class="container">
    <h3 style="padding-top:10px">Edit Product (<%= product.name %> )</h3>
    <form action="/update/<%= product._id %> " method="post" id="add-form" enctype="multipart/form-data">
        <br/>
        <div class="form-group">
          <label for="name">Product Name</label>
          <input type="text" class="form-control" name="name" placeholder="Enter Product Name" value="<%= product.name %> " required>
        </div>
        <br/>
        <div class="form-group">
            <label for="description">Product Description</label>
            <input type="text" class="form-control" name="description" value="<%= product.description %>" rows="3" required placeholder="Enter Product Description">
        </div>
        <br/>
        <div class="form-group">
            <label for="price">Product Price</label>
            <input type="text" class="form-control" name="price" value="<%= product.price %> "required placeholder="Enter Product Price">
          </div>
          <br/>
        <!-- <div class="form-group">
            <label for="city">City</label>
            <select class="form-control" name="city" value="<%= product.city %> " required>
              <option>Windsor</option>
              <option>Toronto</option>
              <option>Ottawa</option>
              <option>Brampton</option>
              <option>Kitchener</option>
            </select>
          </div> -->
          <br/>
          <div class="form-group">
            <label for="image" class="form-label">Product Image</label>
            <input type="file" class="form-control-file form-control " name="image">
            <img src="/<%=product.image %>" width="100" class="img-thumbnail mt-1">
          </div>
          <input type="hidden" name="old_image" value="<%= product.image %> ">
          <br/>
        <button type="submit" class="btn btn-primary btn-success" value="Update Product" style="margin-bottom: 10px;">Update</button>
      </form>
</div>

<%- include('layout/footer.ejs') %> 